body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#container {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    min-width: 300px;
    flex-shrink: 0;
}

.divSquare {
    height: auto;
    width: 6.25%;
    background-color: antiquewhite;    
}
